@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: #121212;
}

.main-container.container {
    max-width: 1000px !important;
}

.community-container.container {
    max-width: 1140px !important;
}

.nav-section{
    border-bottom: 1px solid #EFEFEF
}

.navbar {
    padding: 24px 0;
}

a.nav-link {
    font-size: 14px !important;
    color: #333333;
    padding: 10px 0 !important;
    text-decoration: none;
}

a.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

a.nav-link:hover::after {
    width: 100%;

}

.image-wrapper-80{
    width: 80px;
    height: 80px;
}

.image-wrapper-76{
    width: 76px;
    height: 76px;
}


img {
    width: auto;
    height: auto;
    max-width: 100%;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    /* line-height: 64px; */
    color: #121212;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #121212;
    margin-bottom: 0;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    /* line-height: 38px; */
    color: #121212;
    margin-bottom: 0;
}

h4 {
    font-size: 26px;
    font-weight: 600;
    /* line-height: 30px; */
    color: #333333;
    margin-bottom: 0;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 0;
}

h6 {
    font-size: 20px;
    font-weight: 700;
    /* line-height: 24.55px; */
    color: #333333;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0;
}

a {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}

.lh-15 {
    line-height: 16px;
}

.gap-10 {
    gap: 10px;
}

.gap-12 {
    gap: 12px;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-14 {
    margin-top: 14px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-38 {
    padding-top: 38px;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.color-blue {
    color: #0019FC !important;
}

.color-primary {
    color: #0066FF !important;
}

.color-secondary {
    color: #2F80ED !important;
}

.color-gray {
    color: #4F4F4F !important;
}

.text-gray {
    color: #828282;
}

.color-lightblack {
    color: #333333 !important;
}

.color-red {
    color: #E11125 !important;
}

.color-green {
    color: #00A045 !important;
}

.color-yellow {
    color: #E0A900 !important;
}

.color-purple {
    color: #9B51E0 !important;
}

.text-purple {
    color: #BC00DB !important;
}

.bg-lightblue {
    background: #0066FF14;
}


.radius-6{
    border-radius: 6px;
}

.radius-100{
    border-radius: 100px;
}

.border-green {
    border: 1px solid #00C113;
}

.border-y {
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.border-x{
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}

.fs-12 {
    font-size: 12px !important;
    line-height: 15px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 17px;
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    transition: all 0.25s ease;
}

.btn-primary {
    background: linear-gradient(90.19deg, #0019FC 0.18%, #00B3FF 99.85%);
    box-shadow: inset 0px 0px 4px 2px #ffffffcc, 0px 2px 12px 0px #0066ff3d;
    border: 1px solid #0066FF;
    color: #fff;
    font-weight: 600;
    transition: all 0.25s ease;
    white-space: nowrap;
}

.btn-primary:hover {
    background: linear-gradient(90.19deg, #0055FF 0.18%, #00D4FF 99.85%);
    box-shadow: 0px 4px 16px #0066ff3d !important;
    border: 1px solid #00D4FF;
    transform: translateY(-2px);
}

.special-text {
    font-family: "Caveat", cursive;
    font-size: 24px;
    color: #2F80ED;
    line-height: 30px;
    gap: 12px;
}

.btn-secondary {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    line-height: 20px;
    background: #0066FF14 !important;
    color: #0066FF !important;
    white-space: nowrap;

}

.btn-secondary:hover {
    box-shadow: 0 2px 4px rgba(0, 102, 255, 0.2);
}

.btn-tertiary {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    line-height: 20px;
    color: #0066FF !important;
    border: 1px solid #0066FF !important;
    box-shadow: inset 0px 0px 4px 2px #0066FF52, 0px 2px 6px 0px #0066FF3D;
    background: #FFFFFF !important;
    white-space: nowrap;
}

.btn .right-arrow {
    transition: all 0.25s ease;
}

.btn:hover .right-arrow {
    transform: translateX(7px);
}

.ai-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    border-radius: 0px 12px 0px 0px !important;
    background: linear-gradient(90deg, rgba(175, 4, 255, 0.2) 0%, rgba(255, 88, 248, 0.2) 48%, rgba(219, 0, 255, 0.2) 97.5%);
}

.tag-button {
    background: #9292921A;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 10px;
    border-radius: 100px;
    transition: all 0.25s ease;
}

.tag-button:hover {
    background: #000;
    color: #fff;
}

.answer-button {
    font-weight: 400;
    line-height: 20px;
    color: #0019FC;
}

.answer-button:hover {
    color: #4C64FF;
}

.like-button {
    background: white;
    padding: 6px 10px 6px 10px;
    gap: 6px;
    border-radius: 100px
}

.accepted-btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    background: #00C113;
    color: #fff;
    padding: 4px 8px 4px 8px;
    gap: 4px;
    border-radius: 100px;
}


.status-text {
    margin-top: 12px;
    color: #4F4F4F;
}

.questions-section .inner-content,
.jobs-section .inner-content,
.hiring-section .inner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 12px 16px;
    margin-bottom: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 0px #00000029;
}

.inner-content .simple-text::before,
.customize-btn .simple-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 100%;
    transform: translateY(-50%);
}

.customize-btn .simple-text::before {
    width: 4px !important;
    height: 4px !important;
}

.inner-content .simple-text:first-child::before,
.customize-btn .simple-text:first-child::before {
    display: none;
}

.inner-description {
    display: flex;
    align-items: center;
    gap: 16px;
}

.inner-content .simple-text,
.popular-tags .simple-text {
    color: #828282;
    line-height: 17px;
}

.customize-btn .simple-text {
    color: #0066FF;
    line-height: 16px;
}

.inner-content .simple-text:first-child,
.customize-btn .simple-text:first-child {
    padding-left: 0 !important;
}


.question-text {
    font-weight: 500;
    line-height: 20px;
    color: #121212;
}

.tags-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.popular-tags {
    gap: 12px;
}


.form-control {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.form-control:focus {
    border: 1px solid #39A0FF;
    box-shadow: 0px 0px 0px 4px #E3F2FF;
    filter: drop-shadow(0px 2px 12px #1018280D) !important;
    color: #101828;
}

.form-control::placeholder {
    color: #575757;
}

.circle-divider{
    width: 6px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 100%;
}

.simple-text {
    position: relative;
    padding-left: 16px;
}

.flex-title .simple-text::before {
    content: none;
}

.flex-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 12px;
    border-left: 1px solid #E0E0E0
}

.flex-title:first-child {
    border-left: none;
    padding-left: 0;
}


.comments p,
.comments a,
.comments span {
    font-size: 12px;
    line-height: 24px;
}

.read-more {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 8px 12px 8px 12px;
}

.profile-btn {
    font-weight: 600;
    line-height: 16px;
    background: #0066FF14;
    padding: 6px 10px 6px 10px;
    border-radius: 6px 0px 0px 0px;
    gap: 8px;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 650px) 1fr;
}


/* responsive */
@media screen and (max-width: 1199.97px) {}

@media screen and (min-width: 1400px) {}


@media screen and (min-width: 2000px) {}


@media screen and (max-width: 991.97px) {

    .pt-100 {
        padding-top: 80px;
    }


    h1 {
        font-size: 38px;
        /* line-height: 54px; */
    }

    h2 {
        font-size: 22px;
        /* line-height: 48px; */
    }

    h3 {
        font-size: 29px;
        /* line-height: normal; */
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }

    .fs-16 {
        font-size: 15px !important;
    }

    .fs-18 {
        font-size: 17px !important;
    }

    .btn {
        padding: 8px 14px;
    }

    .special-text {
        font-size: 22px;
    }

    .simple-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 767.97px) {
    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .inner-content {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .inner-description {
        flex-direction: column;
        justify-content: center;
    }

    .tags {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tag-button {
        font-size: 12px;
    }

    .btn {
        font-size: 13px;
    }

    .ai-btn {
        font-size: 13px;
    }

    .form-control {
        font-size: 13px;
    }

}

@media screen and (max-width: 575.97px) {
    .btn {
        padding: 8px 16px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }


    .fs-18 {
        font-size: 16px !important;
    }

    .fs-16 {
        font-size: 15px !important;
    }

    .fs-14 {
        font-size: 13px !important;
    }

    .pt-100 {
        padding-top: 50px;
    }

    .ai-btn {
        font-size: 12px;
    }

    .questions {
        text-align: center;
    }

    .tags-section {
        flex-direction: column;
    }

    .simple-text {
        font-size: 12px;
    }


}

@media screen and (max-width: 375.97px) {

    h1 {
        font-size: 30px;
    }

    h5 {
        font-size: 19px;
    }

    p {
        font-size: 15px;
    }

    .fs-16 {
        font-size: 15px !important;
    }

    .ai-btn {
        font-size: 10px;
    }

}

@media screen and (max-width: 317px) {
    h1 {
        font-size: 28px;
    }
}