.code-box {
    position: relative;
    border-radius: 7px;
    padding: 12px;
    background: #F7F7F7;
    overflow-x: auto;
    max-height: 500px;
    border: none;
    border-top: 12px solid transparent;
    border-right: 8px solid transparent;
}

.copy-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.copy-btn {
    font-family: "Inter", sans-serif;
    padding: 4px 8px 4px 8px;
    border: 1px solid #0066FF;
    background: #fff;
    border-radius: 4px;
    color: #0066FF;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    max-width: 85%;
}

pre code {
    font-size: 14px;
}

.code-box::-webkit-scrollbar {
    width: 8px;
   
}

.code-box::-webkit-scrollbar-track {
    background: transparent;
}

.code-box::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 4px;
}

.code-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.border-y{
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}



